@import '../../../styles/styles';
@import '../home/home.scss';

nav {
  #log-out-icon {
    background-color: $primary-hover !important;
  }

  #log-out-icon:hover {
    cursor: initial !important;
  }
}

.board-frame {
  border: 2px solid $secondary-color;
  border-radius: 1em;
  padding: 10px;
  margin: 15px 50px;
  text-align: center;
}
