@import '../../../styles/styles';
@import '../home/home.scss';

nav {
  #log-out-icon {
    background-color: $primary-hover !important;
  }

  #log-out-icon:hover {
    cursor: initial !important;
  }
}

.board-frame {
  border: 2px solid $secondary-color;
  border-radius: 1em;
  padding: 50px;
  margin: 50px;
  text-align: center;
  transition: 150ms ease-in;
}

.board-frame:hover {
  cursor: pointer;
  background-color: $font-color;
  color: $background-color;
}
