@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

$primary-color: #d42d2f;
$primary-hover: #9b2022;
$secondary-color: #cdcdcd;
$font-color: #4b4b4b;
$font-hover: #292929;
$background-color: whitesmoke;

$primary-font: 'Pacifico', cursive;
$secondary-font: 'Montserrat', sans-serif;
