@import '../../../styles/styles';

// Desktop

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: $secondary-color;

  padding: 18px 0px;

    .navbar-left {
      align-self: center;
      justify-self: flex-start;

      color: $primary-color;
      font-size: 3em;

      margin-left: 25px;
    }

    .navbar-center {
      align-self: center;
      justify-self: center;

      font-family: $primary-font;
      color: $font-color;
    }

    .navbar-right {
      align-self: center;
      justify-self: flex-end;

      font-family: $primary-font;

      margin-right: 50px;

      .profile-pic {
        width: 55px;
        height: 55px;

        border: 2px solid $font-color;
        border-radius: 2em;

        margin-right: 10px;
      }

      .btn {
        background-color: whitesmoke !important;
        color: $font-color !important;
        border: 2px solid $font-color !important;
        border-radius: .2em;
        font-size: 1.2em !important;

        transition: 150ms ease-in;
        box-shadow: 6px 4px $font-color;

        padding: 5px 10px 10px 10px !important;
      }

      .btn:hover {
        box-shadow: -6px -4px $font-color;
      }

      .google-sign-in {
        width: 200px;

        border: 1px solid #fff;
        border-radius: .2em;
        transition: 150ms ease-in;
        box-shadow: 6px 4px $font-color;

        margin: 0;
        padding: 2px;
      }

      .google-sign-in:hover {
        cursor: pointer;
        box-shadow: -6px -4px $font-color;
      }
    }
}

// Tablet

@media only screen and (max-width: 768px) and (min-width: 455px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    .navbar-left {
      grid-area: navbar-left;
    }
    .navbar-center {
      grid-area: navbar-center;

      margin-top: 25px;
    }
    .navbar-right {
      grid-area: navbar-right;
    }

    grid-template-areas: 
    "navbar-left navbar-right"
    "navbar-center navbar-center";
  }
}

// Phone

@media only screen and (max-width: 454px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;

    .navbar-left {
      grid-area: navbar-left;

      margin-left: 0px;
    }
    .navbar-center {
      grid-area: navbar-center;

      margin-top: 25px;
    }
    .navbar-right {
      grid-area: navbar-right;

      margin-right: 15px;

      .profile-pic {
        display: none;
      }
    }

    grid-template-areas: 
    "navbar-left navbar-right"
    "navbar-center navbar-center";
  }
}
